<body class="main-bg">
  <div id="sign-in-div" class="login-container text-c animated flipInX">
    <div>
      <h1 class="logo-badge text-whitesmoke">
        <span class="fa fa-user-circle"></span>
      </h1>
    </div>
    <div *ngIf="!isSignedIn">
      <p class="text-whitesmoke">Sign In</p>
      <div class="container-content">
        <form class="margin-t">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              required=""
              #email
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="*****"
              required=""
              #password
            />
          </div>
          <button
            (click)="onSignin(email.value, password.value)"
            type="submit"
            class="form-button button-l margin-b"
          >
            Sign In
          </button>
          <p class="text-whitesmoke text-center">
            <small>Do not have an account?</small>
          </p>
          <!-- <a value="Click"
            id="signup-link"
            class="text-darkyellow"
            href="#"
            onclick="signupInitiate(); return false;"
            ><small>Sign Up</small></a
          > -->
          <!-- <input type="button" value="Click" id="signup-link></input> -->
          <button onclick="signupInitiate()" type="button" value="Click" id="signup-link">SignUp!</button>
        </form>
        <p class="margin-t text-whitesmoke">
          <small> AnalytIQ &copy; 2020</small>
        </p>
      </div>
    </div>
  </div>
  <div
    id="sign-up-div"
    class="login-container text-c animated flipInX "
  >
    <div>
      <h1 class="logo-badge text-whitesmoke">
        <span class="fa fa-user-circle"></span>
      </h1>
    </div>
    <div *ngIf="!isSignedIn">
      <p class="text-whitesmoke">Register</p>
      <div class="container-content">
        <form class="margin-t">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              required=""
              #emailSignup
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="*****"
              required=""
              #passwordSignup
            />
          </div>
          <button
            (click)="onSignup(emailSignup.value, passwordSignup.value)"
            type="submit"
            class="form-button button-l margin-b"
          >
            Sign Up
          </button>
        </form>
        <p class="margin-t text-whitesmoke">
          <small> AnalytIQ &copy; 2020</small>
        </p>
      </div>
    </div>
  </div>

  <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
</body>
